## Human Resources Analytics Project

### Modelagem de dados

#### Importando as bibliotecas necessárias

In [2]:
import pandas as pd
import datetime
import glob #Para trabalhar com arquivos
import math #Para trabalhar com calculos
#import sqlalchemy
#import pymysql

#### Instalando a biblioteca para conexão com o banco de dados

In [ ]:
#!pip install pymysql

#### Conexão com o banco de dados

In [3]:
from sqlalchemy.engine import create_engine
engine = create_engine('mysql+pymysql://root:stack@127.0.0.1:3307/employees')

### Crianção dos atributos satisfaction_level e last_evaluation

#### Carregando os dados de avalição de desempenho

In [4]:
df_performance_evaluation = pd.read_json("../datalake/landing/performance-evaluation/employee_performance_evaluation.json", orient="records", lines=True)
#Windows
#df_performance_evaluation = pd.read_json("..\\data\\landing\\performance-evaluation\\employee_performance_evaluation.json", orient="records", lines=True)

In [5]:
df_performance_evaluation.head()

   emp_id  satisfaction_level  last_evaluation
0   10001                  38               53
1   10002                  80               86
2   10003                  11               88
3   10004                  72               87
4   10005                  37               52

### Criando o atributo number_project

#### Definindo a query para retornar o número de projetos por colaborador

In [6]:
query = """SELECT COUNT(project_id) AS number_projects
            FROM projects_emp
            GROUP BY (emp_id);"""

In [7]:
df_number_projects = pd.read_sql_query(query, engine)
df_number_projects.head()

   number_projects
0                2
1                5
2                7
3                5
4                2

### Criação do atributo mean_work_last_3_months

#### Criando uma estrutura de Dataframe vazia

In [ ]:
df_sistema_ponto = pd.DataFrame(data=None, columns=["emp_id", "data", "hora"])

#### Carregando os dados do registro de horas trabalhadas

In [ ]:
for sheet in glob.glo(".../datalake/landing/working-hours/*.xlsx"):
    df_ = pd.reaf_excel(sheet)
    df_sistema_ponto = pd.concat([df_sistema_ponto, df_])

In [ ]:
#Windows
#for sheet in glob.glo("...\\datalake\\landing\\working-hours\\*.xlsx"):
    #df_ = pd.reaf_excel(sheet)
    #df_sistema_ponto = pd.concat([df_sistema_ponto, df_])

In [ ]:
df_sistema_ponto.head()

#### Convertendo os atributos para o tipo de dados Datetime

In [ ]:
df_sistema_ponto["hora"] = pd.to_numeric(df_sistema_ponto["hora"])

#### Filtrando apenas os registros dos últimos 3 meses

In [ ]:
df_last_3_month = df_sistema_ponto[(df_sistema_ponto['data'] > datetime.datetime(2020,9,30))]

#### Verificando a contagem de registros por colaborador

In [ ]:
df_last_3_month.groupby("emp_id").count()

#### Calculando o valor médio da quantidade de horas nos últimos 3 meses

In [ ]:
mean_work_last_3_months = df_last_3_month.groupby("emp_id")["hora"].agg("sum")/3

#### Atribuindo os dados ao Dataframe para a verificação

In [ ]:
mean_work_last_3_months = pd.DataFrame(data=mean_work_last_3_months)

In [ ]:
mean_work_last_3_months.rename(columns={"hora":"mean_work_last_3_months"}, inplace=True)

In [ ]:
mean_work_last_3_months.head()

### Criando o atributo time_in_company

#### Definindo uma data de referencia

In [ ]:
date_referencia = datetime.date(2021, 1, 1)

#### Definindo a query para retornar os dados do banco de dados

In [ ]:
query = """SELECT hire_date FROM employees;"""

In [ ]:
df_hire_date = pd.read_sql_query(query, engine)

In [ ]:
df_hire_date.head()

#### Convertendo o tipo de dados para datetime

In [ ]:
df_hire_date["hire_date"] = pd.to_datetime(dt_hire_date["hira_date"])

In [ ]:
days_diff = []
for d in df_hire_date["hire_date"]:
    diff = date_referencia = d.date()
    days_diff.append(diff.days)

In [ ]:
days_diff

#### Convertendo o número de dias em quantidade de anos

In [ ]:
nyears = []
for ndays in days_diff:
    nyears.append(int(math.ceil(ndays / 365))

In [ ]:
nyears

#### Atribuindo os dados ao DataFrame para verificação

In [ ]:
df_hire_date["time_in_company"] = nyears

In [ ]:
df_hire_date.head()

### Criando o atributo work_accident

#### Carregando os dados a partir do banco de dados

In [ ]:
df_employees = pd.read_sql_table("employees", engine)

In [ ]:
df_accident = pd.read_sql_table("accident", engine)

#### Verificando quais colaboradores sofreram acidente

In [ ]:
work_accident = []
for emp in df_employees["emp_no"]:
    if emp in df_accident["emp_no"].to_list():
        work_accident.append(1)
    else:
        work_accident.append(0)

#### Atribuindo ao DataFrame para verificação

In [ ]:
df_work_accident = pd.DataFrame(data=None, columns=["work_accident"])

In [ ]:
df_work_accident["work_accident"] = work_accident

In [ ]:
df_work_accident.head()

### Criando os atributos department, salary e left

#### Definindo a query para retornar os atributos

In [ ]:
query = """SELECT emp.department AS department,
                  sal.salary AS salary,
                  emp.left
           FROM employees emp
           INNER JOIN salaries sal
               ON emp.emp_no = sal.emp_id;"""

In [ ]:
df_department_salary_left = pd.read_sql_query(query, engine)

In [ ]:
df_department_salary_left.head()